
/*@import "megabar.css";*/

/* The following was taken from https://github.com/pellaeon/firefox-91plus-photon-userchrome */
@import "nonFloatingSharpTabs.css";
@import "photonTabSeparators.css";
@import "tabLineLoadingIndicator.css";
@import "tightenUpMenus.css";
@import "playingIcon.css";

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  /* Disable gap between the last pinned tab and the first visible tab */
  margin-inline-start: 0 !important;
}

:root {
  --tab-min-height: 30px !important;
  --tabs-border-color: rgba(0,0,0,.3);
  --tabs-navbar-shadow-size: 0px;
}
