
/*@import "megabar.css";*/

/* The following was taken from https://github.com/pellaeon/firefox-91plus-photon-userchrome */
@import "nonFloatingSharpTabs.css";
@import "photonTabSeparators.css";
@import "tabLineLoadingIndicator.css";
@import "tightenUpMenus.css";
@import "playingIcon.css";

/* Enable urlbar border when focused */
#urlbar:focus-within > #urlbar-background {
    border-color: -moz-accent-color !important;
    border-width: 1px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  /* Disable gap between the last pinned tab and the first visible tab */
  margin-inline-start: 0 !important;
}

/* Disable tab label mask on hover */
.tabbrowser-tab[visuallyselected=true]:hover,
#tabbrowser-tabs:not([closebuttons=activetab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected=true]):hover {
  --tab-label-mask-size: 0 !important;
}

:root {
  --tab-min-height: 30px !important;
  --tabs-border-color: rgba(0,0,0,.3);
  --tabs-navbar-shadow-size: 1px;
}
